# Python cache files
__pycache__/
*.pyc
*.pyo

# SQLite database files
*.db

# Environment variables
.env

# Model files
model.pkl
*.joblib

# Virtual environment
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Streamlit config file
.streamlit/

# Temporary files
*.log

# VSCode settings (optional)
.vscode/

# Ignore test files or results
*.pytest_cache/
.tables


